@font-face {
    font-family: "Pokemonfont";
    src: url("../font/Pokemonfont.ttf")
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Pokemonfont', sans-serif;
}



body{
    background-color: royalblue;
}

.container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header-name {
    width: 100%;
    background-color: rgba(236, 236, 82, 1);
    display: flex;
    justify-content: center;
}

main {
    width: 80%;
    margin-top: 50px;
    margin-left: 10%;
}

a {
    text-decoration: none;
    color: black;
}

.main-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,0.5fr));
    grid-gap:3.2rem;
}
.card{
    width: 300px;
    height: 250px;
    background-color:#9EDEF9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    cursor: pointer;
    background-color: steelblue;
}

.card img {
    width: 50%;
}

.card h2 {
    margin: -30px;
}

.container-pokeinfo {
    width: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 236, 82, 1);
    border-radius: 20px;
    margin-block: 20px;
}

.container-pokeinfo h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.poke-evo {
    margin-top: 20px;
    border-radius: 58px;
    border: 5px solid steelblue;
}

.poke-evo h1 {
    margin-top: -20px;
}

.evolution {
    margin-top: -20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.evolution img {
    margin-right: 50px;
    margin-left: 50px;
    width: 150px;
}

.evolution p {
    margin-left: 80px;
    font-size: 1.4rem;
}

.evolution h4 {
    font-size: 2rem;
}

.evolution-text {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.abilities{
    display: flex;
    justify-content: center;
    align-items: center;
}

.abilities h2, .type h3 {
    display: flex;
    justify-content: center;
}

.abilities .group{
    border: 5px solid steelblue;
    width: 250px;
    padding: 0.1rem;
    font-size: 0.7rem;
    border-radius: 8px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.base-stat{
    font-size: 0.8rem;
}

.type {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1rem;
    margin: auto;
    margin-top: 20px;
}

.type .group {
    background-color: steelblue;
    color: white;
    padding: 0.2rem;
    border-radius: 8px;
    font-size: 1rem;
    margin-left: 10px;
    width: 150px;
}

.btn-group{
    display: flex;
}
.btn-group button{
    border: none;
    width: 100px;
    padding: 0.3rem;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #b74555;
    border-radius: 8px;
}

.btn-group button:hover {
    cursor: pointer;
    transform: scale(0.9);
}

@media (max-width: 1500px) {

    .abilities{
        flex-direction: column;
    }

}

@media (max-width: 1400px) {

    .container-pokeinfo {
        width: 90%;
    }

    .abilities{
        flex-direction: row;
    }

}

@media (max-width: 1100px) {

    .container-pokeinfo {
        width: 80%;
    }

    .abilities{
        flex-direction: row;
    }

}

@media (max-width: 1050px) {

    .abilities{
        flex-direction: column;
    }

}

@media (max-width: 950px) {

    .container-pokeinfo {
        width: 90%;
    }

    .abilities{
        flex-direction: row;
    }

}

@media (max-width: 900px) {

    .poke-evo {
        width: 80%;
    }

    .poke-evo img {
        width: 50%;
    }

    .abilities{
        flex-direction: column;
    }

    .container-pokeinfo h1 {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        padding-top: 10px;
    }
    
    .poke-evo h1 {
        font-size: 1.5rem;
    }

    .evolution p {
        margin-left: 60px;
        font-size: 1.4rem;
    }

}

@media (max-width: 720px) {

    .left-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .poke-evo img {
        width: 40%;
    }
    
    .poke-evo h1 {
        font-size: 1.5rem;
    }

    .evolution-text {
        font-size: 1.5rem;
    }

    .evolution p {
        margin-left: 40px;
        font-size: 1.4rem;
    }

}

@media (max-width: 500px) {

    .evolution img {
        margin-right: 20px;
        margin-left: 20px;
        width: 40%;
    }

    .evolution p {
        margin-left: 20px;
        font-size: 1.2rem;
    }

}