@font-face {
    font-family: "Pokemonfont";
    src: url("../font/Pokemonfont.ttf")
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Pokemonfont', sans-serif;
}



body{
    background-color: royalblue;
}
.container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header-name {
    width: 100%;
    background-color: rgba(236, 236, 82, 1);
    display: flex;
    justify-content: center;
    position: fixed;
}

main {
    width: 80%;
    margin-top: 120px;
    margin-left: 10%;
}

a {
    text-decoration: none;
    color: black;
}

.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,0.5fr));
    grid-gap:2rem;
}
.card{
    width: 300px;
    height: 250px;
    background-color:#9EDEF9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    cursor: pointer;
    background-color: steelblue;
}

.card img {
    width: 50%;
}

.card h2 {
    margin: -30px;
}

.right-content img{
    height: 100px;
    padding: 20px;
}
.right-content h1{
    letter-spacing: 1px;
}

.evolution {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.evolution h4 {
    font-size: 3rem;
}

.abilities{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.abilities .group{
    border: 5px solid royalblue;
    width: 250px;
    padding: 0.1rem;
    font-size: 0.6rem;
    border-radius: 8px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.base-stat{
    font-size: 0.6rem;
}

.type {
    font-size: 0.6rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1rem;
    margin: auto;
}

.type .group {
    background-color: royalblue;
    color: white;
    padding: 0.2rem;
    border-radius: 8px;
    font-size: 0.9rem;
    margin-left: 10px;
    width: 150px;
}

.btn-group{
    display: flex;
}
.btn-group button{
    border: none;
    width: 100px;
    padding: 0.3rem;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #b74555;
    border-radius: 8px;
}

.btn-group button:hover {
    cursor: pointer;
    transform: scale(0.9);
}